{% extends "users/user.html" %}
{% load static %}
{% block head%}
  <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
  <title>Fitness Tracker - Change Password</title>
{% endblock %}
{% block form %}
  {% load static %}
<form class="form_container" id="change_password_form" action="{% url 'settings' %}" method="POST">
  {% csrf_token %}
  <h1 id="header">Password Changed!</h1>
  Your password has been changed, you may now return to the site.

  <div class="submit_form row">
    <button class="button" name="return_to_settings">Return to settings</button>
  </div>
</form>
{% endblock %}