{% extends "users/user.html" %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
<title>Fitness Tracker - Log In</title>
{% endblock %}
{% block form %}
  <div class="form_container">
    <h1>Log In</h1>
    <form class="form login" id="login_form" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {% if error %}
        <div id="form_error"><ul><li>{{ error }}</li></ul></div>
      {% endif %}
      <div class="username">
        {{ form.username.label }}
        {{ form.username }}
      </div>
      <div class="password">
        {{ form.password.label }}
        {{ form.password }}
      </div>
      <div class="remember_me row">
        {{ form.remember_me }}
        Remember Me
      </div>
      <button class="button" name="login" type="submit">Login</button>
      <div class="bold_link row">
        Need an account?
        <a href="{% url 'registration' %}" data-text="Sign Up!">Sign Up!</a>
      </div>
    </form>
  </div>
{% endblock %}
