<div class="col col-lg" id="exercises-container">
  <div class="col col-center" id="message">Please select or create an exercise to get started.</div>
  {% if exercise %}
    <div id="exercise" class="exercise col col-lg col-align-center border bg-secondary gap-md p">
      <div class="exercise-name row text-center">
        <div>
          <input type="hidden" name="exercise-pk" id="exercise-pk" value="{{ exercise.pk }}">
          <input type="hidden" name="exercise-name" id="exercise-name" value="{{ exercise.name }}">
          {{ exercise.name }}
        </div>
      </div>
      <div class="row row-center gap-md max-rep">
        5-Rep Max:
        <input type="number" class="round-float amount input-sm text-center" name="five-rep-max" value="{{ exercise.five_rep_max }}">
        {{ user.weight_unit }}
      </div>
      <hr class="half-width">
      <div class="sets">
        <div class="set row row-center gap-lg">
          <div class="row gap-md">
            <div>
              <input type="number" class="weight input-sm text-center" name="default-weight" step=".5" value="{{ exercise.default_weight }}">
            </div>
            <div>
              Default {{ user.weight_unit }}
            </div>
          </div>
          <div class="row gap-md">
            <div>
              <input type="number" class="reps input-xs text-center" name="default-reps" value="{{ exercise.default_reps }}">
            </div>
            <div>
              Default Reps
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>