<div class="exercise col col-lg col-align-center border bg-secondary gap-md">
  <div class="exercise-name row text-center">
    <div id="exercise-name">
      <input type="hidden" id="exercise-pk" value="{{ exercise.pk }}">
      {{ exercise.name }}
    </div>
  </div>
  <div class="row row-center gap-md max-rep">
    5-Rep Max:
    <input type="number" class="round-float amount input-sm text-center" id="five-rep-max" value="{{ exercise.five_rep_max }}">
    {{ user.weight_unit }}
  </div>
  <hr>
  <div class="sets">
    <div class="set row row-center gap-lg">
      <div class="row gap-md">
        <div>
          <input type="number" class="weight input-sm text-center" id="default-weight" step=".5" value="{{ exercise.default_weight }}">
        </div>
        <div>
          Default {{ user.weight_unit }}
        </div>
      </div>
      <div class="row gap-md">
        <div>
          <input type="number" class="reps input-xs text-center" id="default-reps" value="{{ exercise.default_reps }}">
        </div>
        <div>
          Default Reps
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>