<div id="message">Please select or create an exercise to get started.</div>
<div class="exercise_container">
  <div class="exercise_name row">
    <div id="exercise_name">
      <input type="hidden" id="exercise_pk" value="{{ exercise.pk }}">
      {{ exercise.name }}
    </div>
  </div>
  <div class="row max_rep">
    5-Rep Max:
    <input type="number" class="round_float amount" id="five_rep_max" value="{{ exercise.five_rep_max }}">
    {% if unit_of_measurement == "Imperial" %}
      Lbs
    {% else %}
      Kg
    {% endif %}
  </div>
  <hr class="visible">
  <div class="sets">
    <div class="set">
  <div>
    <div>
    <input type="number" class="weight" id="default_weight" step=".5" value="{{ exercise.default_weight }}">
    </div>
    <div>
      {% if unit_of_measurement == 'Imperial' %}
        Default Lbs
      {% else %}
        Default Kg
      {% endif %}
    </div>
  </div>
  <div>
    <div>
    <input type="number" class="reps" id="default_reps" value="{{ exercise.default_reps }}">
    </div>
    <div>
    Default Reps
    </div>
  </div>
</div>
  </div>
  <hr class="visible">
</div>