

<form class="form_container col workout_settings" id="workout_form">
{% csrf_token %}
<input type="hidden" id="unit_of_measurement" value="{{ user.weight_unit }}">
<div class="controls_container">
  <div>
    <div class="select_container">
      <select class="exercise" id="select_exercise">
          <option disabled selected>Select an exercise</option>
        {% for exercise_name in exercises %}
          <option>{{ exercise_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
    
  <div class="row edit_container">
    <button class="controls" id="save_exercise" type="button">Save Exercise</button>
    <span class="material-symbols-outlined workout_help">
      help
    </span>
  </div>
    
</div>

<div class="exercise" id="exercise">
  <div id="message">Please select or create an exercise to get started.</div>
</div>

<div class="controls_container">
  <button class="controls" id="new_exercise" type="button">New Exercise</button>
  <button class="controls" id="delete_exercise" type="button">Delete Exercise</button>
</div>
</form>

