

<form class="col col-lg gap-lg">
  {% csrf_token %}
  <div class="row border radius-3 bg-primary row-lg row-justify-space-between p">
    <div class="row row-align-center row-justify-space-between gap-md full-width">
      {% include "base/search_bar_with_popup.html" with
        container_id="add-exercise-search-bar"
        id="add-exercise"
        label="Add Exercise Search Bar"
        placeholder="Select An Exercise"
        items=exercises
        item_class="exercise-option"
        bottom=True
      %}
      <div>
        <button type="button" class="btn" id="save-exercise">Save Exercise</button>
      </div>
    </div>

  </div>
  
  {% include "workout/edit_exercise.html" %}
  
  <div class="row border radius-3 bg-primary row-lg row-justify-space-between p">
    <button class="btn" id="new-exercise" type="button">New Exercise</button>
    <button class="btn" id="delete-exercise" type="button">Delete Exercise</button>
  </div>
</form>

