
<div class="col col-md border bg-primary p gap-lg">

  <div id="active-routine-search-bar" class="row row-align-center">
    <h2 class="m-right-1">Active Routine:</h2>
    <div class="pos-rel">
      <label for="active-routine" class="hidden">Active Routine Search Bar</label>
      {% if settings.routine %}
        <input id="active-routine" class="search" type="text" placeholder="{{ settings.routine }}">
      {% else %}
        <input id="active-routine" class="search" type="text" placeholder="Select A Routine">
      {% endif %}
      <div class="search-list col hidden pos-abs border bg-secondary p-0_2 gap-sm">
        {% for routine in routines %}
          <div class="row row-center hover border routine" data-pk="{{ routine.pk }}">{{ routine }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="text-xxl text-red hover-pointer">
      <span class="clear material-symbols-outlined">
        cancel
      </span>
    </div>
  </div>

  <div class="row row-align-center" id="active-workout-search-bar">
    <h2 class="m-right-1">Active Workout:</h2>
    <div class="pos-rel" id="active-search-list">
      {% include "workout/active_workout_search_list.html" %}
    </div>
    <div class="text-xxl text-red hover-pointer">
      <span class="clear material-symbols-outlined">
        cancel
      </span>
    </div>
  </div>

</div>

<div class="row row-center" id="edit-routine-search-bar">
  <div class="pos-rel">
    <label for="edit-routine" class="hidden">Edit Routine Search Bar</label>
    <input id="edit-routine" class="search" type="text" placeholder="Search Routines">
    <div class="search-list hidden col pos-abs border bg-secondary p-0_2 gap-sm">
      {% for routine in routines %}
        <div class="row row-center hover border routine" data-pk="{{ routine.pk }}">{{ routine }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="text-xxl text-red hover-pointer">
    <span class="clear material-symbols-outlined">
      cancel
    </span>
  </div>
</div>

<div class="row row-lg row-align-center row-justify-space-between bg-primary border radius-3 p">
  <span id="nav-prev" class="material-symbols-outlined border bg-tertiary text-xl hover">navigate_before</span>
  <div class="row row-center gap-md">
    <div id="current-routine" class="text-lg">New Routine:</div>
    <div id="current-week" class="text-lg">Week #1</div>
  </div>
  <span id="nav-next" class="material-symbols-outlined border bg-tertiary text-xl hover">navigate_next</span>
</div>
<div id="routine" class="col col-md col-center border bg-secondary">
  <div class="row row-justify-space-between row-nowrap full-width">
    <div class="col col-3 col-center border-right border-bottom">Day</div>
    <div class="col col-center border-bottom">Workout</div>
  </div>
  <div id="week" class="col col-center gap-md">
    {% include "workout/routine_weekday.html" with weekday="1" id=0 checked=True %}
    {% include "workout/routine_weekday.html" with weekday="2" id=1 %}
    {% include "workout/routine_weekday.html" with weekday="3" id=2 %}
    {% include "workout/routine_weekday.html" with weekday="4" id=3 %}
    {% include "workout/routine_weekday.html" with weekday="5" id=4 %}
    {% include "workout/routine_weekday.html" with weekday="6" id=5 %}
    {% include "workout/routine_weekday.html" with weekday="7" id=6 %}
  </div>
</div>
<button id="save-routine" type="button" class="btn">Save Routine</button>

{% include "base/popup.html" with popup_id="workout-popup" content_id="workouts" gap="gap-md"%}

