<div class="day col col-center border-bottom p" data-id="{{ id }}">
  <div class="row row-center row-nowrap full-width">
    <div class="weekday col col-3 col-center">{{ weekday }}:</div>
    <div class="workouts col col-center gap-md">
      <div class="workout-container">
        <div class="workout row row-center full-width gap-md">
          Rest Day
        </div>
      </div>
    </div>
  </div>

  <hr class="half-width">

  <div class="row row-center full-width">
    <span class="add-workout material-symbols-outlined hover-pointer text-green text-xxl">
      add_circle
    </span>
    <div class="add-workout text-md hover-pointer text-green">&nbspAdd Workout&nbsp</div>
  </div>
</div>