<input type="hidden" id="show_rest_timer" value="{{ show_rest_timer }}">
<input type="hidden" id="show_workout_timer" value="{{ show_workout_timer }}">

<form class="form_container col" id="workout_form">
{% csrf_token %}
  <div class="controls_container row">
      <div class="top_controls">
        <input type="date" id="date">
        <div class="select_container">
          <select class="workout" id="select_workout">
            {% for workout in workouts %}
              <option value="{{ workout }}">{{ workout }}</option>
            {% endfor %}
          </select>
        </div>
        <span class="material-symbols-outlined workout_tooltip">
        help
        </span>
        <div id="workout_tooltip">To create or edit exercises, workouts, or your routine, go to settings.</div>
      </div>
    </div>

    <div id="message">Please select a workout or add an exercise to get started.</div>
    <div class="exercises">
    </div>
    <div class="controls_container">
      <div>
        <div class="select_container">
          <select class="exercise" id="select_exercise">
            {% for exercise in exercises %}
              <option>{{ exercise }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
        
      <div>
        <button type="button" class="add_exercise controls" id="add_exercise" value="add exercise">Add Exercise</button>
      </div>
        
      <div>
        <button type="button" class="save_workout controls" id="save_workout_session" value="save workout">Save Workout Session</button>
      </div>
    </div>
</form>
<div class="clock_popup">
  {% include 'workout/rest_timer.html' %}
</div>
