<div class="set">
  <div class="set_number">
    Set {{ forloop.counter }}:
  </div>
  <div>
    <div>
      <input type="number" class="round_float amount" value="{{ exercise_set.amount }}">
      <select name="modifier" class="modifier">
        <option value="exact" {% if exercise_set.modifier == "exact" %} selected {% endif %}>Exact</option>
        <option value="percentage" {% if exercise_set.modifier == "percentage" %} selected {% endif %}>%</option>
        <option value="increment" {% if exercise_set.modifier == "increment" %} selected {% endif %}>+</option>
        <option value="decrement" {% if exercise_set.modifier == "decrement" %} selected {% endif %}>-</option>
      </select>
    </div>
  </div>
  <div>
    <div>
      <input type="number" class="reps round_integer" value="{{ exercise_set.reps }}">
    </div>
    <div>
    Reps
    </div>
    &nbsp
    <hr class="vertical">
    &nbsp
    <div class="calculate_set">
    </div>
  </div>
</div>
