<div class="drag-and-drop-element exercise col-lg gap-md border bg-secondary p">
  <div class="col col-align-center gap-md">
    <div class="row row row-center gap-md">
      <div class="exercise-name drag-and-drop-handlebar">
        {{ exercise.name }}
      </div>
      <div>
          <span class="material-symbols-outlined delete-exercise hover-red text-xxl">
            delete
          </span>
      </div>
    </div>
    <div class="row row-center gap-lg">
      <label for="5-rep-max">5-Rep Max:</label>
      <input type="number" id="5-rep-max" class="round-float amount max-rep input-sm text-center" value="{{ exercise.five_rep_max }}">
      {{ user.weight_unit }}
    </div>
    <hr class="hr-half-width">
    <div class="sets col col-align-center gap-md">
      {% for exercise_set in exercise.sets %}
        {% include 'workout/workout_settings_set.html' %}
      {% endfor %}
    </div>
    <hr class="hr-half-width">
    <div class="row row-center text-md">
      <span class="material-symbols-outlined delete-set hover-red text-xxl">
        remove
      </span>
        &nbspSet&nbsp
      <span class="material-symbols-outlined add-set hover-red text-xxl">
        add
      </span>
    </div>
  </div>
</div>