<input type="hidden" id="show-rest-timer" value="{{ workout_settings.show_rest_timer }}">
<input type="hidden" id="show-workout-timer" value="{{ workout_settings.show_workout_timer }}">


<form class="col col-lg gap-lg" id="workout-form">
  {% csrf_token %}

  {% if routine_settings.routine %}
    <div class="row row-lg row-justify-space-between row-align-center row-nowrap bg-primary p gap-md">
      {% include "base/navigate.html" with direction="before" %}
      <div class="row row-center gap-md">
        <h1 id="workout-routine">
          {{ routine_settings.routine }}, 
          Week #{{ routine_settings.week_number }}, 
          Day #{{ routine_settings.day_number }}
        </h1>
      </div>
      {% include "base/navigate.html" with direction="next" %}
    </div>
  {% endif %}

  <div class="row row-lg row-justify-space-between row-align-center bg-primary border radius-3 p">
    <div>
      <label for="date" class="hidden">Select Date</label>
      <div class="date-wrapper">
        <input type="date" id="date">
        <span class="material-symbols-outlined">
          calendar_month
        </span>
      </div>
      
    </div>
  
    <div class="row row-center row-nowrap">
      
      {% include "base/search_bar_with_popup.html" with 
        container_id="select-workout-search-bar"
        id="select-workout" 
        label="Select Workout Search Bar" 
        placeholder="Select A Workout"
        value=workout.workout_name
        items=workouts 
        item_class="workout-option" 
      %}
    
      <div>
        {% include "base/tooltip.html" with 
          id="workout" 
          message="To create or edit exercises, workouts, or your routine, go to settings."
        %}
      </div>
    </div>
  </div>

  <div class="exercises drag-and-drop-container col col-lg col-center gap-lg" id="workout-container">
    {% include "workout/workout.html" %}
  </div>

  <div class="row row-lg bg-primary border radius-3 p gap-xl">
    <div class="row row-align-center row-justify-space-between gap-md full-width">
      {% include "base/search_bar_with_popup.html" with 
        container_id="add-exercise-search-bar" 
        id="add-exercise" 
        label="Add Exercise Search Bar" 
        placeholder="Select An Exercise" 
        items=exercises 
        item_class="exercise-option"
        bottom=True
      %}
      <div>
        <button type="button" class="btn" id="save-workout">Save Workout</button>
      </div>
    </div>
  </div>

</form>
{% include "workout/exercise_template.html"  %}
{% include "workout/exercise_set_template.html"  %}
{% include "base/popup.html" with popup_id="rest-timer-popup" content_id="rest-timer"%}
