.search_bar{
  background-color: #FAF9F6;
  color: #1b1b1b;
  max-width: 40rem;
  height: 2.1rem;
  border-radius: .2rem 1rem 1rem .2rem;
  border: 1px solid #ccc;
  justify-content: center;
}

.search_bar >:first-child{
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  min-width: 2rem;
  border-right: 1px solid #ccc;
}

.search_bar >:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
}

.search_bar >:last-child span{
  font-size: 2rem;
  color: red;
}

.search_bar input {
  border: 0;
  background-color: #FAF9F6;
}

.search_bar input:focus {
  outline: 0;
}

.search_icon {
  background-color: #eee;
  color: #555;
  border-radius: .2rem 0 0 .2rem;
}

#items {
  display: flex;
  flex-direction: column;
  background-color: var(--light_green);
  margin-top: .1rem;
  color: var(--light_font);
  border-radius: 0 1rem 1rem 1rem;
  border: 1px solid var(--border_highlight);
  max-height: 30rem;
  overflow-y: auto;
  width: 100%;
  padding: .5rem;
  gap: .3rem;
}

#search_results {
  width: 50%;
}

#items > div {
  padding: .3rem 0 .3rem 1rem;
  border-radius: 1rem;
}

#items div.col {
  padding-left: .5rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0;
}

.brand_name {
  color: #8d8d8d;
  font-size: 1rem;
}

.brand_calories {
  color: var(--green_font);
  font-size: 1rem;
}


#items > div:hover{
  background-color: var(--border_highlight);
}

#tabs div{
  border-left: 1px solid var(--border_highlight);
  border-right: 1px solid var(--border_highlight);
  border-top: 1px solid var(--border_highlight);

  border-radius: .5rem .5rem 0 0;
  padding: .3rem;
  background-color: var(--light_green);
  margin-bottom: -3px;
}

#tabs div:not(.active){
  border-bottom: 1px solid var(--border_highlight);
  background-color: var(--med_green);
}

#tabs div:not(.active):hover {
  background-color: var(--border_highlight);
}

#items div {
  display: flex;
  gap: .5rem;
  align-items: center;
}


.search_bar:focus-within + #search_results {
  visibility: visible;
}

.search_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  justify-content: center;
  align-items: center;
}

.search_container > div {
  gap: 1rem;
}

.search_container img {
  max-width: 20rem;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 50rem;
  padding: .5rem;
  border-radius: 1rem;
}

.summary_container{
  display: flex;
  flex-direction: row;
  max-width: 50rem;
}

.averages {
  width: 35%;
}

.summary {
  background-color: var(--light_green);
  border: 1px solid var(--border_highlight);
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.grid.nutrition_info {
  grid-auto-rows: 2.5rem;
  grid-template-columns: 40% repeat(6, 1fr);
  background-color: var(--dark_green);
  border: 1px solid var(--border_highlight);
  font-size: 1.2rem;
  margin-top: .2rem;
}

.nutrition_info .grid_item:nth-child(14n+1) {
  background-color: var(--med_green);
  border-radius: 1rem 0 0 1rem;
}

.nutrition_info .grid_item:nth-child(14n+7) {
  background-color: var(--med_green);
  border-radius: 0 1rem 1rem 0;
}

.nutrition_info .grid_item:nth-child(14n+2),
.nutrition_info .grid_item:nth-child(14n+3),
.nutrition_info .grid_item:nth-child(14n+4),
.nutrition_info .grid_item:nth-child(14n+5),
.nutrition_info .grid_item:nth-child(14n+6){
  background-color: var(--med_green);
}

.nutrition_info .grid_item:not(:nth-child(7n + 1)){
  justify-content: center;
}

.nutrition_info .grid_item:nth-child(7n + 1){
  padding-left: .5rem;
}

.nutrition_info .grid_item:not(:nth-child(7n + 7)){
  border-right: 1px solid var(--dark_green);
}

.nutrition_info .grid_item {
  display: flex;
  align-items: center;
}

.nutrition_info span{
  font-size: 2rem;
}

#food_log_header, #search_header{
  max-width: 50rem;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: flex-end;
  font-size: 2.5rem;
}

#search_header {
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-bottom: -1.2rem;
}

.food_item {
  width: 100%;
  background-color: var(--dark_green);
  border: 1px solid var(--border_highlight);
}

.food_item .grid_item{
  background-color: var(--dark_green);
  padding: .2rem .5rem;
}

.food_item .grid_item:nth-child(2),
.food_item .grid_item:first-child{
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.food_item .grid_item:nth-child(4n+1){
  border-radius: 1rem 0 0 1rem;
}

.food_item .grid_item:nth-child(4n+2):not(:nth-child(2)){
  border-radius: 0 1rem 1rem 0;
}

.food_item .grid_item:nth-child(4n+1):not(:first-child),
.food_item .grid_item:nth-child(4n+2) {
  background-color: var(--med_green);
  border-right: 1px solid var(--dark_green);
}

.item_details{
  gap: 1rem;
}

#add_item, #add_item span {
  margin-top: .3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: var(--green_font);
  font-size: 1.5rem;
  gap: .3rem;
}

#add_item span {
  font-size: 2rem;
}

.save_log {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-width: 50rem;
}

.save_log button {
  margin-top: .5rem;
  background-color: var(--light_green);
  border: 1px solid var(--border_highlight);
  border-radius: 2rem;
  max-width: 15rem;
  padding: .5rem 1rem;
  font-size: 2rem;
  color: white;
  transition: all ease-in .3s;
}

.save_log button:hover {
  background-color: var(--border_highlight);
  border: 1px solid #9bd4e0;
}

#pie_chart img,
#bar_chart img{
  width: 100%;
}
