{% extends "base/redirect.html" %}
{% load static %}

{% block head%}{{block.super}}{% endblock %}

{% block title %}{{block.super}} - Account Activation{% endblock %}

{% block content %}
  <h1>Account Activation Error!</h1>

  <p>We're sorry, but it seems there was an issue with the activation link provided.
    It may have expired or been tampered with. Please contact support for further assistance.</p>

  Best regards,<br>
  The WTCC Fitness Tracker Team

  <button class="btn" name="return_to_site"><a href="{% url 'login' %}">Return to Site</a></button>
{% endblock %}