
<h1>Body Composition</h1>
<form class="form" id="body_composition_form" method="POST">
  {% csrf_token %}
  <div id="optional">*Optional, default values shown will be used for calculations if left unset.</div>
  <div class="row grow">
    <div>
      {{ form2.unit_of_measurement.label_tag }}
      {{ form2.unit_of_measurement }}
    </div>
    <div id="gender">
      {{ form2.gender.label_tag }}
      {{ form2.gender }}
    </div>
  </div>
  <div id="age" class="col">
    {{ form2.age.label_tag }}
    {{ form2.age }}
    {{ form2.age.errors }}
  </div>
  <div id="height" class="col">
    {{ form2.height.label_tag }}
    {{ form2.height }}
    {{ form2.height.errors }}
  </div>
    <div id="body_weight" class="col">
    {{ form2.body_weight.label_tag }}
    {{ form2.body_weight }}
    {{ form2.body_weight.errors }}
  </div>
    <div id="body_fat" class="col">
    {{ form2.body_fat.label_tag }}
    {{ form2.body_fat }}
    {{ form2.body_fat.errors }}
  </div>
  {% if message %}
    <div class="success_message">{{ message }}</div>
  {% endif %}
  <button class="button" id="update_body_composition" type="button">Update Body Composition</button>
</form>
