
<form id="change-password-form" class="col col-md border gap-lg p" action="{% url 'change_password' %}" method="POST">
  {% csrf_token %}
  <h1 class="text-center">Change Password</h1>
  <div id="current_password" class="col">
    {{ form.current_password.label_tag }}
    {{ form.current_password }}
    <div class="errors"></div>
  </div>
  <div id="new_password" class="col">
    {{ form.new_password.label_tag }}
    {{ form.new_password }}
    <div class="errors"></div>
  </div>
    {% if not form.errors%}
      <ul class="text-sm">
        <li>Password must be at least 8 characters long</li>
        <li>Password cannot be entirely numeric</li>
        <li>Password cannot be too common</li>
      </ul>
    {% endif %}
  <div id="confirm_password" class="col">
    {{ form.confirm_password.label_tag }}
    {{ form.confirm_password }}
    <div class="errors"></div>
  </div>

  <div class="col col-center gap-lg">
    <button class="btn" name="change-password" id="change-password" type="submit">Change Password</button>

    <a id="return-to-settings">Return to settings</a>
  </div>
</form>

