<div class="inner_container">
<form id="change_password_form" action="{% url 'change_password' %}" method="POST">
  <h1 id="header">Change Password</h1>
  {% csrf_token %}
  {% if not form.errors%}
    <ul>
      <small>
      <li>Password must be at least 8 characters long</li>
      <li>Password cannot be entirely numeric</li>
      <li>Password cannot be too common</li>
      </small>
    </ul>
  {% endif %}
  <div id="current_password" class="col">
    {{ form.current_password.label_tag }}
    {{ form.current_password }}
    {{ form.current_password.errors }}
  </div>
  <div id="new_password" class="col">
    {{ form.new_password.label_tag }}
    {{ form.new_password }}
    {{ form.new_password.errors }}
  </div>
  <div id="confirm_password" class="col">
    {{ form.confirm_password.label_tag }}
    {{ form.confirm_password }}
    {{ form.confirm_password.errors }}
  </div>

  <div class="submit_form row">
    <button class="button" name="change_password" id="change_password" type="submit">Change Password</button>
  </div>
  <div class="bold_link row">
    <a id="return_to_settings">Return to settings</a>
  </div>
</form>
</div>
