{% extends "base/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}{{block.super}} - Login{% endblock %}

{% block content %}
  <form class="col col-sm bg-primary border m-auto gap-lg p" id="login-form" action="{% url 'login' %}" method="POST">
    <div class="text-center"><h1>Login</h1></div>
    {% csrf_token %}
    {% if form.errors %}
      <div id="form-error" class="errorlist">
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
    {% endif %}
    <div class="col">
      {{ form.username.label }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="col">
      {{ form.password.label }}
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <div class="row gap-sm">
      {{ form.remember_me }}
      {{ form.remember_me.errors }}
  
      Remember Me
    </div>
    <button class="btn" name="login" id="login" type="submit">Login</button>
    <div class="row row-justify-center gap-md">
      Need an account?
      <a id="registration" href="{% url 'registration' %}" data-text="Sign Up!">Sign Up!</a>
    </div>
    <div class="row row-justify-center">
      <small><a id="reset-password" href="{% url 'reset_password' %}" data-text="Forgot password?">Forgot password?</a></small>
    </div>
  </form>
{% endblock %}
