{% load static %}


<form id="registration-form" class="col col-md border bg-primary gap-lg m-auto p" action="{% url 'registration' %}" method="POST">
  <h1 class="text-center">Register</h1>
  {% csrf_token %}
  <div class="col">
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
  </div>
  <div class="col">
    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
    {% if not form.errors%}
    <ul class="text-sm m-left-1">
      <li>Password must be at least 8 characters long</li>
      <li>Password cannot be entirely numeric</li>
      <li>Password cannot be too common</li>
    </ul>
    {% endif %}
  </div>
  <div class="col">
    {{ form.confirm_password.label_tag }}
    {{ form.confirm_password }}
    {{ form.confirm_password.errors }}
  </div>
  <div class="col">
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
  </div>
  <div><br>*Optional fields below, values will be used for calculations.</div>
  <div class="row row-align-end" id="name">
    <div class="col">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>
    <div class="col">
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>
  </div>
  <div class="row">
    <div>
      {{ form2.system_of_measurement.label_tag }}
      {{ form2.system_of_measurement }}
    </div>
    <div id="gender">
      {{ form2.gender.label_tag }}
      {{ form2.gender }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ form2.height.label_tag }}
      {{ form2.height }}
      {{ form2.height.errors }}
    </div>
    <div class="col">
      {{ form2.body_weight.label_tag }}
      {{ form2.body_weight }}
      {{ form2.body_weight.errors }}
    </div>
    <div class="col">
      {{ form2.body_fat.label_tag }}
      {{ form2.body_fat }}
      {{ form2.body_fat.errors }}
    </div>
    <div class="col">
      {{ form2.age.label_tag }}
      {{ form2.age }}
      {{ form2.age.errors }}
    </div>
  </div>
  <div class="col gap-lg">
    <button class="btn" name="register" type="submit">Complete Registration</button>
    <div class="col text-center gap-sm">
      Already have an account?
      <a id="login" href="{% url 'login' %}" data-text="Log in!">Log in!</a>
    </div>
  </div>
</form>
<script type="text/javascript" src="{% static '/js/registration.js' %}"></script>
