{% extends "base/base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}{{block.super}} - Reset Password{% endblock %}

{% block content %}
  <form class="col col-sm border bg-primary m-auto gap-lg p" id="reset-password-form" action="{% url 'reset_password' %}" method="POST">
    <h1 class="text-center">Forgot Password</h1>
    {% csrf_token %}
    {% if form.errors %}
      <div id="form-error" class="errorlist">
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
    {% endif %}
    <div id="username">
      {{ form.username.label }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div class="col gap-lg">
      <button class="btn" name="reset-password" id="reset-password" type="submit">Reset Password</button>
      <a id="return-to-login" href="{% url 'login' %}" data-text="Return to Login">Return to Login</a>
    </div>
  </form>
{% endblock %}
  