{% extends "base/redirect.html" %}
{% load static %}

{% block head%}{{block.super}}{% endblock %}

{% block title %}{{block.super}} - Password Reset{% endblock %}

{% block content %}
<div class="inner_container">

  <h1 id="header">Password Reset Error!</h1>

  <p>We're sorry, but it seems there was an issue with the password reset link provided.
    It may have expired or been tampered with. Please contact support for further assistance.</p>

  Best regards,<br>
  The WTCC Fitness Tracker Team


  <div class="submit_form row">
    <button class="button" name="return_to_site"><a href="{% url 'login' %}">Return to Site</a></button>
  </div>

</div>
{% endblock %}