{% extends "base/redirect.html" %}
{% load static %}

{% block head%}{{block.super}}{% endblock %}

{% block title %}{{block.super}} - Password Reset{% endblock %}

{% block content %}
  <div class="col gap-lg">
    <h1 id="header">Password Reset Error!</h1>
    
    <p>We're sorry, but it seems there was an issue with the password reset link provided.
      It may have expired or been tampered with. Please contact support for further assistance.</p>
    
    Best regards,<br>
    The WTCC Fitness Tracker Team
    <br>
    <a id="return-to-login" href="{% url 'login' %}">Return to Site</a>
  </div>
{% endblock %}