<div class="button_group_round">
  <button type="button" class="button_back active" data-group="1">
    <span class="button_front" id="user">
      User
    </span>
  </button>
  <button type="button" class="button_back" value="12" data-group="1">
    <span class="button_front" id="exercises">
      Exercises
    </span>
  </button>
  <button type="button" class="button_back" value="12" data-group="1">
    <span class="button_front" id="workouts">
      Workouts
    </span>
  </button>
  <button type="button" class="button_back" value="6" data-group="1">
    <span class="button_front" id="routine">
      Routine
    </span>
  </button>
</div>
{% include "users/settings_form.html" %}