<div class="btn-group-round">
  <button type="button" class="btn-back active" data-group="1">
    <span class="btn-front" id="user">
      User
    </span>
  </button>
  <button type="button" class="btn-back" value="12" data-group="1">
    <span class="btn-front" id="exercises">
      Exercises
    </span>
  </button>
  <button type="button" class="btn-back" value="12" data-group="1">
    <span class="btn-front" id="workouts">
      Workouts
    </span>
  </button>
  <button type="button" class="btn-back" value="6" data-group="1">
    <span class="btn-front" id="routine">
      Routine
    </span>
  </button>
</div>
{% include "users/settings_form.html" %}