<form class="col gap-lg" id="user-settings-form" method="POST">
  <h1 class="text-center">User Settings</h1>
  {% csrf_token %}
  <div id="optional">*Optional, default values shown will be used for calculations if left unset.</div>
  <div class="row">
    <div class="col gap-md">
      {{ user_settings_form.system_of_measurement.label_tag }}
      {{ user_settings_form.system_of_measurement }}
      <div class="errors"></div>
    </div>
    <div class="col gap-md" id="gender">
      {{ user_settings_form.gender.label_tag }}
      {{ user_settings_form.gender }}
      <div class="errors"></div>
    </div>
  </div>
  <div id="age" class="col gap-sm">
    {{ user_settings_form.age.label_tag }}
    {{ user_settings_form.age }}
    <div class="errors"></div>
  </div>
  <div id="height" class="col gap-sm">
    {{ user_settings_form.height.label_tag }}
    {{ user_settings_form.height }}
    <div class="errors"></div>
  </div>
  <div id="body-weight" class="col gap-sm">
    {{ user_settings_form.body_weight.label_tag }}
    {{ user_settings_form.body_weight }}
    <div class="errors"></div>
  </div>
  <div id="body-fat" class="col gap-sm">
    {{ user_settings_form.body_fat.label_tag }}
    {{ user_settings_form.body_fat }}
    <div class="errors"></div>
  </div>
  {% if message %}
    <div class="success-message row row-center text-green">{{ message }}</div>
  {% endif %}
  <button class="btn" id="update-user-settings" type="button">Update User Settings</button>
</form>

