<div class="exercise_container">
  <div class="exercise_name row">
    <div id="exercise_name">
      {{ exercise.name }}
    </div>
    <div>
      <button class="delete delete_exercise">
        <span class="material-symbols-outlined delete delete_exercise">
          delete
        </span>
      </button>
    </div>
  </div>
  <hr class="visible">
  <div class="sets">
    {% for set in exercise.sets %}
      {% include 'workout/set.html' %}
    {% endfor %}
  </div>
  <hr class="visible">
  <div>
    <button class="add_set controls">Add Set</button>
  </div>
</div>