{% extends "base/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'workout/css/index.css' %}">
{% endblock %}

{% block header %}
  <header>
    <div id="greeting">
        Welcome, {{ user.username }}.
    </div>
    <div>
        <a id="logout" href="{% url 'logout' %}">Log Out</a>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="modules-container">
    {% for module in modules %}
      {% include "workout/module.html" %}
    {% endfor %}
  </div>

  <div>
    <form class="form_container col" id="workout_form">
      {% include "workout/workout_session.html" %}
    </form>
  </div>
{% endblock %}
