{% extends "base/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'workout/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'workout/css/stats.css' %}">
{% endblock %}

{% block header %}
  <header>
    <div id="greeting">
        Welcome, {{ user.username }}.
    </div>
    <div>
        <a id="logout" href="{% url 'logout' %}">Log Out</a>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="modules-container">
    {% for module in modules %}
      {% include "workouts/module.html" %}
    {% endfor %}
  </div>
  <div id="popup" class="popup" style="display: none;"></div>
  <div id="content">
    {% include "workouts/workout_session.html" %}
  </div>
{% endblock %}

{% block javascript %}{{block.super}}
  <script type="text/javascript" src="{% static 'workout/js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'workout/js/stats.js' %}"></script>
{% endblock %}
