{% extends "base/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/drag_and_drop.css' %}">
  <link rel="stylesheet" href="{% static 'css/animated_checkbox.css' %}">
  {% if css_file %}
    <link rel="stylesheet" href="{% static css_file %}">
  {% endif %}
{% endblock %}

{% block header %}
{% include "base/header.html" %}
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="row gap-md">
    {% for module in modules %}
      {% include "base/module.html" %}
    {% endfor %}
  </div>
  <div id="popup-message"></div>
  <div id="overlay"></div>
  <div id="content" class="col col-align-center gap-lg m-bottom-10">
    {% if template_content%}
      {% include template_content %}
    {% elif calendar %}
      {{ calendar|safe }}
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}{{block.super}}
  <script type="text/javascript" src="{% static '/js/drag_and_drop.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/input_spinner.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/search_bar.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/workout_search_bar.js' %}"></script>
  <script type="text/javascript">
    let distanceUnit = "{{ user.distance_unit }}";
    let weightUnit = "{{ user.weight_unit }}";
</script>
{% endblock %}








