{% extends "base/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'workout/css/index.css' %}">
  {% if css_file %}
    <link rel="stylesheet" href="{% static css_file %}">
  {% endif %}
{% endblock %}

{% block header %}
{% include "base/header.html" %}
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="modules-container">
    {% for module in modules %}
      {% include "base/module.html" %}
    {% endfor %}
  </div>
  <div id="temp_popup"></div>
  <div id="overlay"></div>
  <div id="content">
    {% if template_content%}
      {% include template_content %}
    {% elif calendar %}
      {{ calendar|safe }}
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}{{block.super}}
<script type="text/javascript" src="{% static '/js/index.js' %}"></script>
{% endblock %}








