<div class="log-popup-header">
  <div id="weight-log-header-text"></div>
</div>
<form>
  <div class="col gap-lg m-top-1">
    <div>
      <label for="body-weight">Body Weight ({{ user.weight_unit }}):
      </label>
      <input type="number" id="body-weight" class="input-sm text-center" value="{{ user_settings.body_weight }}" required>
    </div>
    <div>
      <label for="body-fat">Body Fat Percentage:</label>
      <input type="number" id="body-fat" class="input-sm text-center" value="{{ user_settings.body_fat }}" required>
    </div>
    <button class="btn" type="button" id="save-weight-log">Save Weight Log</button>
  </div>
</form>