<div class="log_popup_header">
  <div id="weight_log_header_text"></div>
</div>
<form>
  <div>
    <div>
      <label for="body_weight">Body Weight ({{ user.weight_unit }}):
      </label>
      <input type="number" id="body_weight" value="{{ user_body_composition_settings.body_weight }}" required>
    </div>
    <br>
    <div>
      <label for="body_fat">Body Fat Percentage:</label>
      <input type="number" id="body_fat" value="{{ user_body_composition_settings.body_fat }}" required>
    </div>
    <button class="button" type="button" id="save_weight_log">Save Weight Log</button>
  </div>
</form>