<div class="weight_log_info{% if not weight_log %} hidden{% endif %}">
  <input type="hidden" id="weight_log_pk" value="{{ weight_log.pk|default:"0" }}">
  <div class="body_weight">
    Body Weight - {{ weight_log.body_weight|default:"0" }}
    {% if unit_of_measurement == 'Imperial' %}
    Lbs
    {% else %}
    Kg
    {% endif %}
  </div>
  <div class="body_fat">Body Fat - {{ weight_log.body_fat|default:"0" }}%</div>
</div>
<div class="weight_log_placeholder{% if weight_log %} hidden{% endif %}">
  No weight entry found.
</div>
<div class="center">
  {% if weight_log %}
    <button type="button" class="button add_weight_log">Edit Weight Entry</button>
    <button type="button" class="button delete_weight_log">Delete Weight Entry</button>
  {% else %}
    <button type="button" class="button add_weight_log">Add Weight Entry</button>
    <button type="button" class="button delete_weight_log hidden">Delete Weight Entry</button>
  {% endif %}
</div>