<div class="workout col">
  <input type="hidden" class="workout-log-pk" value="{{ workout_log.pk|default:"0" }}">
  <div class="workout-name">{{ workout_log.workout_name }}</div>
  <hr>
  <div class="col workout-info py hidden">
    {% if workout_log.total_time != 0 %}
    <div>Total time: {{ workout_log.total_time }}</div>
    {% endif %}
    {% for exercise in workout_log.exercises %}
      <div class="col">{{ exercise.name }}</div>
      <hr>
      {% for set in exercise.sets %}
        <div>
          {{ set.weight }}
          {{ user.weight_unit }}
          &nbsp;x&nbsp;
          {{ set.reps }}
        </div>
      {% endfor %}
      {% if not forloop.last %}
        <br>
      {% endif %}
    {% endfor %}
    <div class="row m-top-1 gap-lg">
      <button type="button" class="btn edit-workout-log">Edit Workout Entry</button>
      <button type="button" class="btn delete-workout-log">Delete Workout Entry</button>
    </div>
  </div>
</div>


