{% load custom_filters %}
<div class="workout col">
  <input type="hidden" class="workout-log-pk" value="{{ workout_log.pk|default:'0' }}">
  <div class="workout-name">{{ workout_log.workout_name }}</div>
  <hr class="half-width">
  <div class="col workout-info py hidden">
    {% if workout_log.total_time != 0 %}
    <div>Total time: {{ workout_log.total_time }}</div>
    {% endif %}
    {% for exercise_name, sets in workout_log.exercises.items %}
      <div class="col exercise-name">{{ exercise_name }}</div>
      <hr class="half-width">
      {% for weight, reps in sets.weights|zip_lists:sets.reps %}
        <div>
          {{ weight }}
          {{ user.weight_unit }}
          &nbsp;x&nbsp;
          {{ reps }}
        </div>
      {% endfor %}
      {% if not forloop.last %}
        <br>
      {% endif %}
    {% endfor %}
    <div class="row m-top-1 gap-lg">
      <button type="button" class="btn edit-workout-log">Edit Workout Entry</button>
      <button type="button" class="btn delete-workout-log">Delete Workout Entry</button>
    </div>
  </div>
</div>


