  {% csrf_token %}
  <input type="hidden" id="session" value="True">
  <div class="controls_container row">
      <div class="top_controls">
        <input type="date" id="date">
        <div class="select_container">
          <select class="workout">
            {% for workout in workouts %}
              <option value="{{ workout }}">{{ workout }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="edit_workouts controls" value="edit workouts">Edit Workouts</button>
      </div>
    </div>

    <div id="exercises">
      <div id="placeholder">Please select a workout or add an exercise to get started.</div>
    </div>
    <div class="controls_container">
      <div>
        <div class="select_container">
          <select class="exercise">
            {% for exercise in exercises %}
              <option>{{ exercise }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
        
      <div>
        <button class="add_exercise controls" value="add exercise">Add Exercise</button>
      </div>
        
      <div>
        <button class="save_workout controls" value="save workout">Save Workout Session</button>
      </div>
    </div>
