form {
  display: flex;
  flex-direction: column;
  gap:.5rem;
  min-width: 20rem;
  max-width: 40rem;
}

#name {
  align-items: flex-end;
  gap: 1rem;
}

.submit_form .button {
  min-width: 18rem;
}

#attributes {
  gap: 1rem;
}

#gender label, #unit_of_measurement label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .25rem;
}

#optional {
  text-align: center;
}

#name div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

#name input {
  width: 100%;
}

.submit_form {
    justify-content: center;
}

ul {
  margin: 0;
}

.success_message {
  display: flex;
  align-self: center;
  text-align: center;
  color: var(--green_font);
  margin: 0;
}