

.form_container.workout_settings {
  margin-top: .5rem;
}

.edit_container {
  justify-content: flex-end;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.amount{
  max-width: 5rem;
}

.max_rep {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .25rem;
  margin-bottom: .25rem;
}

.calculate_weight {
  min-width: 10rem;
}

#workout_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workout_settings div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered {
  align-items: center;
  justify-content: center;
}
