#name {
  align-items: end;
  gap: 1rem;
}

#name div, #name input {
  flex-grow: 1;
  width: 100%;
}

#settings_form.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
}

#buttons button {
  max-width: 30%;
  min-width: 10rem;
}

#id_gender label {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.controls_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 2rem;
  padding: .4rem .5rem;
  background-color: #3a414a;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  gap: .5rem;
}

.controls_container.save_exercise {
  justify-content: center;
}


.form_container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

#exercises {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_container.workout_settings {
  margin-top: .5rem;
}

