@import "variables.scss";
@import "mixins.scss";

// Global reset
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Layout styles
body {
  margin: 0;
  background-color: var(--secondary-background);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-font);
  background-color: var(--primary-background);
  max-width: 1200px;
  padding: 1rem;
  font-size: var(--font-size-md);
}

.row, .col {
  display: flex;
  @include sizes;

  &-justify {
    @include justify;
  }

  &-align {
    @include align;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  @media (max-width: 780px) {
    flex-wrap: wrap;
  }
}

.col {
  flex-direction: column;
  width: 100%;

  &-3 {
    min-width: 7rem;
    max-width: 30%;
  }
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

// HR styles
hr {
  border: none;
  background: linear-gradient(to right, #3a414a, var(--highlight-color), #3a414a);
  width: 100%;
  height: 1px;
  margin: .2rem 0;
}

// UL styles
ul {
  margin-left: 1rem;
}

// Img styles
img {
  max-width: 100%;
}

// Form error message styles
.errorlist {
  color: var(--red-font);
}

// Grid styles
.grid {
  display: grid;
  width: 100%;
  max-width: 50rem;
  gap: .2rem;

  &--col-3 {
    grid-template-columns: 35% repeat(2, 1fr);
  }

  &--col-2 {
    grid-template-columns: 1fr 1fr;
  }

  &--small {
    width: 100%;
    max-width: 25rem;
  }

  &--rows-small{
    grid-auto-rows: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 .5rem;

    &--center{
      justify-content: center;
    }

    &--left{
      justify-content: flex-start;
    }
  }

  & input{
    border: 0;
    background: none;
    text-align: center;
  }

  &__input {
    &--text-left{
      text-align: left !important;
    }
  }

  &--cardio-date {
    grid-template-columns: 50% repeat(4, 1fr);
  }

  &--cardio-duration {
    justify-content: flex-end;
    grid-template-columns: 20% 5% 20% 5% 20%;
  }

  &--cardio-summary {
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 10rem);
    width: 90%;
  }

  &--cardio-distance {
    justify-content: flex-end;
    grid-template-columns: 11% 3% 11% 50%;
  }

  &--cardio-header {
    grid-template-columns: 25% 75%;
  }
}

.row-span-all {
  grid-row: 1 / -1;
}

.row-span-3 {
  grid-row: span 3;
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

// :hover styles
.hover {
  transition: all .3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--highlight-color);
    border: var(--hover-border);
  }

  &-red:hover {
    transition: all .3s ease-in;
    cursor: pointer;
    color: var(--red-font);
  }

  &-pointer {
    cursor: pointer;
  }
}

// Border styles
.border {
  border: 2px solid var(--highlight-color);
  border-radius: 1rem;

  &-invis {
    border: 2px solid transparent;
  }

  &-right {
    border-right: 2px solid var(--highlight-color);
  }

  &-bottom {
    border-bottom: 2px solid var(--highlight-color);
  }
}

// Padding styles
.p {
  padding: .5rem;

  &-0_2{
    padding: .2rem;
  }

  &y {
    padding: .5rem 0;
  }

  &x {
    padding: 0 .5rem;
  }

  &x-1 {
    padding: 0 1rem;
  }
}

// Background-color styles
.bg {
  &-primary {
    background-color: var(--primary-color);
  }

  &-secondary {
    background-color: var(--secondary-color);
  }

  &-tertiary {
    background-color: var(--tertiary-color);
  }

  &-blue {
    background-color: var(--blue-background);
  }
}

// Gap styles
.gap {
  &-xs {
    gap: .1rem;
  }

  &-sm {
    gap: .2rem;
  }

  &-md {
    gap: .5rem;
  }

  &-lg {
    gap: 1rem;
  }

  &-xl {
    gap: 2rem;
  }
}

// Margin styles
.m {
  &-auto {
    margin: auto;
  }

  &-top-1 {
    margin-top: 1rem;
  }

  &-top-2 {
    margin-top: 2rem;
  }

  &-top-3 {
    margin-top: 3rem;
  }

  &-right-1 {
    margin-right: 1rem;
  }

  &-left-1 {
    margin-left: 1rem;
  }

  // Offset for popup content
  &-top_-1_5 {
    margin-top: -1.5rem;
  }

  // Offset for rest timer close button
  &-top_-3_8 {
    margin-top: -3.8rem;
  }

  &-bottom-10 {
    margin-bottom: 10rem;
  }

  &-left {
    margin-left: auto;
  }
}

// Text styles
.text {
  &-sm {
    font-size: 1rem;
  }

  &-md {
    font-size: 1.4rem;
  }

  &-lg {
    font-size: 1.6rem;
  }

  &-xl {
    font-size: 2rem !important;
  }

  &-xxl {
    font-size: 2.2rem !important;
  }

  &-center {
    text-align: center;
  }

  &-primary {
    color: var(--primary-font);
  }

  &-secondary {
    color: var(--secondary-font);
  }

  &-green {
    color: var(--green-font);
  }

  &-red {
    color: var(--red-font);
  }
}

// Border radius styles
.radius {

  border-radius: 1rem;

  &-2 {
    border-radius: 2rem;
  }

  &-3 {
    border-radius: 3rem;
  }
}

// Link styles
a {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  text-decoration: underline;
  color: var(--blue-font);
  text-align: center;
  text-shadow: var(--text-shadow);

  &:hover {
    transition: .3s all ease-in;
    font-weight: var(--bold);
    color: var(--red-font);
    text-shadow: var(--text-shadow);
  }

  &::after {
    content: attr(data-text)/"";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-weight: var(--bold);
  }
}

// Button styles
.btn {
  padding: .25rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-font);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  align-self: center;
  justify-self: center;
  border: 2px solid var(--highlight-color);
  min-width: 13rem;

  &:hover  {
    @include hover
  }
}

// Input styles
input {
  color: var(--primary-font);
  background-color: var(--secondary-color);
  border: 2px solid var(--highlight-color);
  border-radius: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.2rem;
  outline: none;

  &:not([type="checkbox"], [type="radio"]) {
    height: 2rem;
  }

  &:not([type="checkbox"], [type="radio"], [type="date"]) {
    width: 100%;
  }

  &[type="radio"], [type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }

  &:not([readonly]):focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  &[type=number] {
  -moz-appearance: textfield;
  }
}

.input {
  &-xs {
    max-width: 3rem;
  }

  &-sm {
    max-width: 6rem;
  }
}

// Position Styles
.pos {
  &-rel {
    position: relative;
  }

  &-abs {
    position: absolute;
  }
}

.search-list {
  z-index: 20;
  max-height: 25rem;
  overflow-y: auto;

  &-bottom {
    bottom: 100%;
  }
}

.vis {
  &-hidden {
    visibility: hidden;
  }
}



