@import "variables.scss";
@import "mixins.scss";

label {
  font-size: 1.2rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
}
.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkgray);
  border: 1px solid #ccc;
  padding: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-width: 25rem;
  min-height: 10rem;
  overflow-y: visible;
}

.hr--vertical {
  height: 100%;
  width: 1px;
  margin: 0 .2rem;
}

.errorlist {
  color: var(--red-font);
}


.grid {
  display: grid;
  width: 100%;
  max-width: 50rem;
  gap: .2rem;

  &--col-3 {
    grid-template-columns: 35% repeat(2, 1fr);
  }

  &--small {
    width: 100%;
    max-width: 25rem;
  }

  &--rows-small{
    grid-auto-rows: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 .5rem;

    &--center{
      justify-content: center;
    }

    &--left{
      justify-content: flex-start;
    }
  }

  & input{
    border: 0;
    background: none;
    text-align: center;
  }

  &__input {
    &--text-left{
      text-align: left !important;
    }
  }

  &--cardio-date {
    grid-template-columns: 50% repeat(4, 1fr);
  }

  &--cardio-duration {
    justify-content: flex-end;
    grid-template-columns: 20% 5% 20% 5% 20%;
  }

  &--cardio-summary {
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 10rem);
    width: 90%;
  }

  &--cardio-distance {
    justify-content: flex-end;
    grid-template-columns: 11% 3% 11% 50%;
  }

  &--cardio-header {
    grid-template-columns: 25% 75%;
  }
}

.row-span-3 {
  grid-row: span 3;
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

#content {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}






.hover {
  transition: all .3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--highlight-color);
    border: var(--hover-border);
  }

  &-red:hover {
    transition: all .3s ease-in;
    cursor: pointer;
    color: var(--red-font);
  }
}

.border {
  border: 2px solid var(--highlight-color);
  border-radius: 1rem;

  &-right {
    border-right: 2px solid var(--highlight-color);
  }
}

.p {
  padding: .5rem;

  &-0_2{
    padding: .2rem;
  }

  &y {
    padding: .5rem 0;
  }

  &x {
    padding: 0 .5rem;
  }

  &x-1 {
    padding: 0 1rem;
  }
}

.bg {
  &-primary {
    background-color: var(--primary-color);
  }

  &-secondary {
    background-color: var(--secondary-color);
  }

  &-tertiary {
    background-color: var(--tertiary-color);
  }

  &-blue {
    background-color: var(--blue-background);
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

.gap {
  &-xs {
    gap: .1rem;
  }

  &-sm {
    gap: .2rem;
  }

  &-md {
    gap: .5rem;
  }

  &-lg {
    gap: 1rem;
  }

  &-xl {
    gap: 2rem;
  }
}

.m {
  &-auto {
    margin: auto;
  }

  &-left {
    margin-left: auto;
  }

  &-top-1 {
    margin-top: 1rem;
  }

  &-top-2 {
    margin-top: 2rem;
  }

  &-top-3 {
    margin-top: 3rem;
  }
}

.text {
  &-sm {
    font-size: 1rem;
  }

  &-md {
    font-size: 1.4rem;
  }

  &-lg {
    font-size: 1.6rem;
  }

  &-xl {
    font-size: 2rem !important;
  }

  &-xxl {
    font-size: 2.2rem !important;
  }

  &-center {
    text-align: center;
  }

  &-primary {
    color: var(--primary-font);
  }

  &-secondary {
    color: var(--secondary-font);
  }

  &-green {
    color: var(--green-font);
  }

  &-red {
    color: var(--red-font);
  }
}

.row, .col {
  display: flex;
  @include sizes;

  &-justify {
    @include justify;
  }

  &-align {
    @include align;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  @media (max-width: 780px) {
    flex-wrap: wrap;
  }
}

.col {
  flex-direction: column;
  width: 100%;

  &-3 {
    min-width: 10rem;
    max-width: 30%;
  }
}

.radius {

  border-radius: 1rem;

  &-2 {
    border-radius: 2rem;
  }

  &-3 {
    border-radius: 3rem;
  }
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto !important;
}

.hidden {
  display: none !important;
}

a {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  text-decoration: underline;
  color: var(--blue-font);
  text-align: center;
  text-shadow: var(--text-shadow);

  &:hover {
    transition: .3s all ease-in;
    font-weight: var(--bold);
    color: var(--red-font);
    text-shadow: var(--text-shadow);
  }

  &::after {
    content: attr(data-text)/"";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-weight: var(--bold);
  }
}

hr {
  border: none;
  background: linear-gradient(to right, #3a414a, var(--highlight-color), #3a414a);
  width: 100%;
  height: 1px;
  margin: .2rem 0;
}

.border {
  border: 2px solid var(--highlight-color);
}

.hr-half-width {
  width: 50%;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: var(--secondary-background);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-font);
  background-color: var(--primary-background);
  max-width: 1200px;
  padding: 1rem;
  font-size: var(--font-size-md);
}

.btn {
  padding: .25rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-font);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  align-self: center;
  justify-self: center;
  border: 2px solid var(--highlight-color);
  min-width: 14rem;

  &:hover  {
    @include hover
  }
}

input {
  color: var(--primary-font);
  background-color: var(--secondary-color);
  border: 2px solid var(--highlight-color);
  border-radius: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.2rem;
  outline: none;

  &:not([type="checkbox"], [type="radio"]) {
    height: 2rem;
  }

  &:not([type="checkbox"], [type="radio"], [type="date"]) {
    width: 100%;
  }

  &[type="radio"], [type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }

  &:not([readonly]):focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  &[type=number] {
  -moz-appearance: textfield;
  }
}

.input {
  &-xs {
    max-width: 3rem;
  }

  &-sm {
    max-width: 6rem;
  }
}





//:root {
//  display: flex;
//  flex-grow: 1;
//  justify-content: center;
//  --background: #121212;
//  --darkgray: #212121;
//  --medgray: #3a414a;
//  --lightgray: #6f7681;
//  --form-background: rgba(20, 55, 94, .7);
//  --primary-font: rgb(250, 250, 250);
//  --blue: #1f538d;
//  --blue-font: #6884ff;
//  --red-font: #ff004c;
//  --font-color: #f5f5f5;
//  --green-font: #28a745;
//  --light-green: #18393a;
//  --med-green: #1a2a27;
//  --dark-green: #0d1b1e;
//  --border-highlight: #426f78;
//  --secondary-background:#0e171a;
//
//  min-width: 640px;
//}
//#203839
//linear-gradient(0.4turn, var(--dark-green), #254d43)
//
//    display: flex;
//    flex-grow: 1;
//    justify-content: center;
//    --background: #121212;
//    --darkgray: #212121;
//    --medgray: #3a414a;
//    --lightgray: #6f7681;
//    --form-background: rgba(20, 55, 94, .7);
//    --primary-font: rgb(237 237 237);
//    --blue: #911e1e;
//    --blue-font: #3070ff;
//    --red-font: #ff004c;
//    --font-color: #f5f5f5;
//    --green-font: #28a745;
//    --light-green: #120707;
//    --med-green: #202020;
//    --dark-green: #080707;
//    --border-highlight: #85383c70;
//    --primary-background: #0c0c0c;
//    --secondary-background: #000000;
//    min-width: 640px;


  //--background: #121212;
  //--darkgray: #212121;
  //--medgray: #3a414a;
  //--lightgray: #6f7681;
  //--form-background: rgba(20, 55, 94, .7);
  //
  //--blue: #1f538d;