:root {
  --background: #121212;
  --darkgray: #212121;
  --form_background: rgba(20, 55, 94, .7);
  --light_font: rgb(250, 250, 250);
  --blue: #1f538d;
  height: 100%;
  width: 100%;

  --font_color: #f5f5f5;
  --button_front_background:#1f538d;
  --button_back_background: #14375e;
  --button_background_hover: #2866a6;

  min-width: 640px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light_font);
  background-color: var(--background);
  font-size: 1.4rem;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--darkgray);
  max-width: 1200px;
}

#content {
  padding-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: .25rem;
  height: 2rem;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin:1rem;
  padding: 0 1rem;
}

.form_container .row {
  display: flex !important;
  flex-direction: row !important;
  flex-grow: 1;
}

.form_container {
  background-color: var(--form_background);
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 3px  rgba(0, 0, 0, .5);
  width: auto;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 30rem;
  width: 100%;
  gap: .6rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form_error {
  color: red;
  margin-top: .25rem;
}

hr {
  width: 100%;
  visibility: hidden;
  margin: 0;
}

a {
  color: var(--light_font);
  text-decoration: none;
}

h1, h2 {
  text-align: center;
  margin:0 0 1rem;
  color: #ffffff;
}


label {
  font-size: 1.2rem;
}

.button:hover  {
  transition: all .3s ease-in;
  background-color: #14375e;
}

.button {
  padding: .25rem 1rem;
  background-color: #1f538d;
  color: var(--light_font);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border: 2px solid black;
  margin-top: 1rem;
  width: 100%;
  max-width: 50%;
}

.button:hover {
  transition: all .3s ease-in;
  background-color: #14375e;
  cursor: pointer;
}

.bold_link {
  --bold: 700;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin: .25rem 0;
  text-wrap: nowrap;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.bold_link a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: underline;
  color: #6884ff;
  text-shadow: 1px 0px 8px rgb(0, 0, 0);
}

.bold_link a:hover {
  transition: .3s all ease-in;
  font-weight: var(--bold);
  color: #ff004c;
  text-shadow: 1px 0px 8px rgb(0, 0, 0);
}

.bold_link a::after {
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}

.hidden {
  display: none;
}

.errorlist {
  color: red;
}

.inner_container .row {
  display: flex !important;
  flex-direction: row !important;
  flex-grow: 1;
}

.inner_container {
  margin-top: 20%;
  background-color: var(--form_background);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 3px  rgba(0, 0, 0, .5);
  max-width: 40rem;
}