:root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  --background: #121212;
  --darkgray: #212121;
  --medgray: #3a414a;
  --lightgray: #6f7681;
  --form_background: rgba(20, 55, 94, .7);
  --light_font: rgb(250, 250, 250);
  --blue: #1f538d;
  --blue_font: #6884ff;
  --red_font: #ff004c;
  --font_color: #f5f5f5;
  --button_front_background:#1f538d;
  --button_back_background: #14375e;
  --button_background_hover: #2866a6;
  --green_font: #28a745;

  min-width: 640px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light_font);
  background-color: var(--background);
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--darkgray);
  max-width: 1200px;
}

#content {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: .25rem;
  height: 2rem;
  font-size: 1.2rem;
}

input:not([type="checkbox"], [type="radio"], [type="date"]) {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin:1rem;
  padding: 0 1rem;
}

.form_container .row {
  display: flex !important;
  flex-direction: row !important;
  flex-grow: 1;
}

.form_container {
  background-color: var(--form_background);
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 3px  rgba(0, 0, 0, .5);
  width: auto;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 30rem;
  width: 100%;
  gap: .6rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form_error {
  color: red;
  margin-top: .25rem;
}

hr {
  width: 100%;
  visibility: hidden;
  margin: 0;
}

a {
  color: var(--light_font);
  text-decoration: none;
}

h1, h2 {
  text-align: center;
  margin:0 0 1rem;
  color: #ffffff;
}


label {
  font-size: 1.2rem;
}

.button:hover  {
  transition: all .3s ease-in;
  background-color: #14375e;
}

.button {
  padding: .25rem 1rem;
  background-color: #1f538d;
  color: var(--light_font);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border: 2px solid black;
  margin-top: 1rem;
  min-width: 14rem;
}

.button:hover {
  transition: all .3s ease-in;
  background-color: #14375e;
  cursor: pointer;
}

.bold_link {
  --bold: 700;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin: .25rem 0;
  text-wrap: none;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.bold_link a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: underline;
  color: var(--blue_font);
  text-shadow: 1px 0 8px rgb(0, 0, 0);
}

.bold_link a:hover {
  transition: .3s all ease-in;
  font-weight: var(--bold);
  color: var(--red_font);
  text-shadow: 1px 0 8px rgb(0, 0, 0);
  cursor: pointer;
}

.bold_link a::after {
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}

.hidden {
  display: none !important;
}

.errorlist {
  color: red;
}

.inner_container .row {
  display: flex !important;
  flex-direction: row !important;
  flex-grow: 1;
}

.inner_container {
  margin: .5rem 0 2rem;
  background-color: var(--form_background);
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 3px  rgba(0, 0, 0, .5);
  max-width: 40rem;
}

.space_between {
  justify-content: space-between;
}

.grow div{
  flex-grow: 1;
}

.popup_header {
    display: flex;
    justify-content: space-between;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkgray);
  border: 1px solid #ccc;
  padding: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-width: 25rem;
  min-height: 10rem;
  overflow-y: visible;
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto !important;
}

.close_popup_container{
  position: relative;
  top: -2.3rem;
  left: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .2rem;
  cursor: pointer;
}

.outline{
  text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

.close_popup_container span{
  background-color: var(--font_color);
  color: var(--darkgray);
  border-radius: .3rem;
}

.center {
  align-self: center;
}

#message:not(:last-child){
  display: none;
}


body {
  user-select: none;
}

.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#content{
  margin-bottom: 10rem;
}
