{% load static %}
<div class="summary_container">
  <div class="averages">
    <div class="summary">
      <div class="grid">
        <div>Weekly Summary (Avg. Daily)</div>
        <hr class="horizontal100">
        <div class="row">
          <div class="width50">Protein:</div>
          <hr class="vertical">
          <div class="center_content avg_protein">0g</div>
        </div>
        <hr class="horizontal100">
        <div class="row">
          <div class="width50">Carbs:</div>
          <hr class="vertical">
          <div class="center_content avg_carbs">0g</div>
        </div>
        <hr class="horizontal100">
        <div class="row">
          <div class="width50">Fat:</div>
          <hr class="vertical">
          <div class="center_content avg_fat">0g</div>
        </div>
        <hr class="horizontal100">
        <div class="row">
          <div class="width50">Calories:</div>
          <hr class="vertical">
          <div class="center_content avg_calories">0</div>
        </div>
      </div>
    </div>
    <div id="pie_chart">No Chart To Display</div>
  </div>
  <div class="grid_item row_span_2 center_content" id="bar_chart">
    No Chart To Display
  </div>
  


</div>

<div class="row" id="food_log_header">
  <div>Daily Food Log</div>
  <label for="date" class="hidden">Date</label>
  <input name="date" id="date" type="date">
</div>
<div class="grid nutrition_info">
    <div class="grid_item">Food Name</div>
    <div class="grid_item">Serving</div>
    <div class="grid_item">Calories</div>
    <div class="grid_item">Protein</div>
    <div class="grid_item">Carbs</div>
    <div class="grid_item">Fat</div>
    <div class="grid_item"></div>
    
    <div class="grid_item" id="total">Total</div>
    <div class="grid_item"></div>
    <div class="grid_item" id="total_calories">0</div>
    <div class="grid_item" id="total_protein">0</div>
    <div class="grid_item" id="total_carbs">0</div>
    <div class="grid_item" id="total_fat">0</div>
    <div class="grid_item"></div>
  </div>
<div class="save_log">
  <button type="button" id="save_log">Save Log</button>
</div>

<div class="row" id="search_header">
  Search Nutrition Database
</div>
<div class="search_container">

  <div class="width100 row center_content">
    <div class="row search_bar">
      <div>
        <span class="material-symbols-outlined search_icon">
          search
        </span>
      </div>
      <label for="nutrition_search" class="hidden">Nutrition Search</label>
      <input type="text" name="nutrition_search" id="nutrition_search">
      <div>
        <span class="material-symbols-outlined delete_search">
          cancel
        </span>
      </div>
    </div>
    <div class="nutritionix_logo width100">
      <img alt="Powered by Nutritionix API" src="{% static 'img/Updated_NutritionixAPI_hires_flat.png' %}">
    </div>
  </div>

  <div class="item_details width100 row hidden">
    <div id="search_results">
      <div id="tabs" class="row">
        <div class="active tab" data-filter="all">All</div>
        <div class="tab" data-filter="common">Common</div>
        <div class="tab" data-filter="branded">Branded</div>
      </div>
      <div id="items">
      </div>
    </div>
    <div class="width50">
      <div class="grid food_item">
        <div class="grid_item col_span_2" id="detail_img">No Image</div>
        <div class="grid_item col_span_2" id="detail_name">Select A Food</div>
        <div class="grid_item">Servings:</div>
        <div class="grid_item" id="detail_servings">0</div>
        <div class="grid_item">Calories:</div>
        <div class="grid_item" id="detail_calories">0</div>
        <div class="grid_item">Protein:</div>
        <div class="grid_item" id="detail_protein">0g</div>
        <div class="grid_item">Carbs:</div>
        <div class="grid_item" id="detail_carbs">0g</div>
        <div class="grid_item">Fat:</div>
        <div class="grid_item" id="detail_fat">0g</div>
      </div>
      <div id="add_item">
        <span class="material-symbols-outlined">
          add_circle
        </span>
        Add Item
      </div>
    </div>
  </div>
</div>