table.calendar {
    display: flex;
    flex-direction: column;


    font-family: Arial, sans-serif;
    min-width: 40rem;
}

table.calendar th:not(.month) {
    border-right: 1px solid #ccc;
    width: 100%;
}

.calendar.month tr:not(:first-child) {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.calendar.month tr:last-child {
    border-bottom: 1px solid #ccc;
}

table.calendar tbody {
    width: 100%;
}

table.calendar td {
    border-right: 1px solid #ccc;
    text-align: center;
    width:100%;
    min-height: 5rem;
}

table.calendar td div:not(:first-child){
    display: flex;
}

th.month {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

tr {
    display: flex;
    width: 100%;
}

.calendar span, #close, #add_log_close {
    font-size:2rem;
}

#close:hover, #add_log_close:hover {
    cursor: pointer;
}

.day:hover {
    background-color: var(--medgray);
    cursor: pointer;
    transition: all .3s ease-in;
}

.calendar span#nav_next,
.calendar span#nav_prev{
    font-size:2rem;
    background-color: var(--medgray);
    border-radius: 1rem;
}

.calendar span#nav_next:hover,
.calendar span#nav_prev:hover{
    background-color: var(--lightgray);
    transition: all .3s ease-in;
    cursor: pointer;
}

.log_popup_header {
    display: flex;
    justify-content: space-between;
}

#log_popup_content, #add_log_content{
    overflow-y: auto;
    margin-top: -1.8rem;
}

#add_log_popup{
    margin-top:25rem;
}

#add_log_popup input:not(#workout_form input) {
  max-width: 4rem;
}

.calendar button {
  font-size: 1rem;
  min-width: 10rem;
  margin: 0;
}

#weight_log_container, #workout_log_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.daily_log_container {
  display: flex;
  flex-direction: column;
  gap:.5rem;
}

#workout_log, #weight_log {
    flex-grow: 1;
    align-self: center;
}

.workout_name{
    cursor: pointer;
}

#add_log_popup .checkbox-wrapper-44{
    visibility: hidden !important;
}

.workout:not(:last-child) .add_workout_log,
.workout:not(:last-child) .workout_info.hidden + div{
  display: none ;
}

#workout_log_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
