table.calendar {
    display: flex;
    flex-direction: column;


    font-family: Arial, sans-serif;
    min-width: 40rem;
}

table.calendar th:not(.month) {
    border-right: 1px solid #ccc;
    width: 100%;
}

.calendar.month tr:not(:first-child) {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.calendar.month tr:last-child {
    border-bottom: 1px solid #ccc;
}

table.calendar tbody {
    width: 100%;
}

table.calendar td {
    border-right: 1px solid #ccc;
    text-align: center;
    width:100%;
    min-height: 5rem;
}

table.calendar td div:not(:first-child){
    display: flex;
}

th.month {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

tr {
    display: flex;
    width: 100%;
}

.calendar span, #close, #add_log_close {
    font-size:2rem;
}

#close:hover, #add_log_close:hover {
    cursor: pointer;
}

.day:hover {
    background-color: var(--medgray);
    cursor: pointer;
    transition: all .3s ease-in;
}

.calendar span#nav_next,
.calendar span#nav_prev{
    font-size:2rem;
    background-color: var(--medgray);
    border-radius: 1rem;
}

.calendar span#nav_next:hover,
.calendar span#nav_prev:hover{
    background-color: var(--lightgray);
    transition: all .3s ease-in;
    cursor: pointer;
}

.log_popup_header {
    display: flex;
    justify-content: space-between;
}

#daily_log_popup, #add_log_popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkgray);
  border: 1px solid #ccc;
  padding: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-width: 25rem;
  min-height: 10rem;
  border-radius: .3rem;
  max-height: 50%;
  overflow-y: auto;
  display: none;
  max-width: 40rem;
}

#add_log_popup input:not(#workout_form input) {
    max-width: 4rem;
}
