<form class="col gap-lg" id="workout_form">
{% csrf_token %}

  <div class="col col-lg border bg-primary gap-lg p" id="workout_settings">
    <h1 class="text-center">Workout Settings</h1>
    <div>{{ form.auto_update_five_rep_max }}{{ form.auto_update_five_rep_max.label }}</div>
    <div>{{ form.show_rest_timer }}{{ form.show_rest_timer.label }}</div>
    <div>{{ form.show_workout_timer }}{{ form.show_workout_timer.label }}</div>
    <div class="success-message hidden">Workout settings saved.</div>
    <button id="save-workout-settings" class="btn" type="button">Save Settings</button>
  </div>

<div class="row row-lg row-align-center row-justify-space-between bg-primary border radius-3 p">
    <div class="row row-align-center row-justify-space-between row-nowrap full-width">
      {% include "base/search_bar_with_popup.html" with 
        container_id="select-workout-search-bar"
        id="select-workout" 
        label="Select Workout Search Bar" 
        placeholder="Select A Workout"
        value=workout.workout_name
        items=workouts 
        item_class="workout-option" 
      %}
      <div>
        <button type="button" class="btn" id="save-workout">Save Workout</button>
      </div>
    </div>
  </div>
    
  <div class="exercises drag-and-drop-container col col-lg col-center gap-lg" id="workout-container">
    {% include "workout/settings/workout.html" %}
  </div>
  <div class="row row-lg bg-primary border radius-3 p gap-xl">
    <div class="row row-align-center row-justify-space-between gap-md full-width">
      {% include "base/search_bar_with_popup.html" with 
        container_id="add-exercise-search-bar" 
        id="add-exercise" 
        label="Add Exercise Search Bar" 
        placeholder="Select An Exercise" 
        items=exercises 
        item_class="exercise-option"
        bottom=True
      %}
      <div>
        <button type="button" class="btn" id="delete-workout">Delete Workout</button>
      </div>
    </div>
  </div>
</form>
{% include "workout/settings/exercise_template.html"  %}
{% include "workout/settings/exercise_set_template.html"  %}